*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.docs {
    text-align: center;
    position: relative;
    font-size: 20px;
}

h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
}

.code_block {
    text-align: center;
    position: relative;
}

purple {
    color: hsl(289.0, 50%, 50%);
}

gray {
    color: rgb(119, 119, 119);
}

orange {
    color: rgba(255, 115, 0, 0.699);
}

green {
    color: rgb(164, 219, 113);
}

blue {
    color: rgb(3, 61, 253);
}

lightblue {
    color: rgb(166, 187, 255);
}

yellow {
    color: rgb(219, 186, 0);
}

darkgreen {
    color: rgb(2, 141, 60);
}

lightgray {
    color: rgb(177, 177, 177);
}